Package: xfce4-audio-port-switch-plugin
Version: 1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6,libcairo2,libgdk-pixbuf2.0-0,libglib2.0-0,libpango-1.0-0,libpangocairo-1.0-0,librsvg2-2,libgtk-3-0,libxfce4ui-2-0,libxfce4util6,xfce4-panel
Maintainer: Your Name <you@email.com>
Description: Audio port switch for XFCE4 panel
 Control pactl from your panel
